build/
third_party/uACPI/
third_party/limine-bin/
*.iso
*.o
*.d
backup_m*.zip
userland/build/
userland/sysroot/
userland/root/
userland/root-*/
!userland/skel/etc/init.d/
third_party/uACPI
third_party/limine-bin
